.todo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.button-container {
  display: inline-block
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
}

.icon {
  height: 40px;
  width: 40px;
}


@media screen and (max-width: 800px){
  .todo {
    font-size: 16px;
  }

  .icon {
    height: 30px;
    width: 30px;
  }
}